# Отчёт по выполнению рассылки руководителям практики студентов
Статус: {% if status == "failed" %}С ошибками{% else %}Успешно{% endif %}
Общее число студентов в задаче на рассылку: {{ num_of_students }}
Число студентов, для которых успешно выполнена рассылка: {{ num_of_success }}
Детальный отчёт находится в: {{ detailed_report_path }}

# Сформулируй финальный ответ секретарю о завершении рассылки с учётом информации из отчёта. Обязательно сообщи - где находится детальный отчёт.