# Secretary Personal Data
SECRETARY__NAME="Белова Ирина Владимировна"
SECRETARY__EMAIL="i.belova@fit.univ.edu"

# Database
DATABASE__EXCEL_PATH=path

# Documents
DOCUMENTS__TEMPLATES_DIR=path

# Sorting Agent
SORTING_AGENT__MODEL_NAME="ai-sage/GigaChat3.1-10B-A1.8B"
SORTING_AGENT__GIGACHAT_AUTH_KEY=auth_key
SORTING_AGENT__TASKS_ROOT_DIR=path

# Sending Agent
SENDING_AGENT__TASKS_ROOT_DIR=path
SENDING_AGENT__GENERATE_EXAMPLE_DOC=true
SENDING_AGENT__OUTPUT_DIT=path